<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Project</title>
</head>
<body>
    <header>
        <h1>TEST TEST</h1>
    </header>

    <main>
        <section>
            <h2>Header 2</h2>
            <p>Contents will be here</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Docker Project. Human rights are reserved. Because I'm a human.</p>
    </footer>
</body>
</html>